<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Antlr v4 Editor"
            extensions="g4"
            icon="icons/g.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.github.antlr4ide.editor.ANTLRv4Editor"
            id="org.github.antlr4ide.editor.ANTLRv4Editor">
      </editor>
   </extension>
  <extension point="org.eclipse.ui.preferencePages">
          <!-- experimenting with new native eclipse pref pages -->
        <page
            class="org.github.antlr4ide.editor.preferences.AntlrPreferencePageTool"
            id="org.github.antlr4ide.Antlr4.newprefs"
            name="ANTLR 4 IDE TOOL">
            <keywordReference id="org.github.antlr4ide.editor.keyword_Antlr4"/>
        </page>    
        <page
            class="org.github.antlr4ide.editor.preferences.AntlrPreferencePageFolding"
            id="org.github.antlr4ide.Antlr4.newprefs.folding"
            name="Folding"
            category="org.github.antlr4ide.Antlr4.newprefs">
            <keywordReference id="org.github.antlr4ide.editor.keyword_Antlr4"/>
        </page>    
  </extension>
   <extension
         id="antlrBuilder"
         name="Antlr Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.github.antlr4ide.builder.AntlrBuilder">
         </run>
      </builder>
   </extension>  
   <extension
         id="antlrNature"
         name="Antlr Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.github.antlr4ide.builder.AntlrNature">
         </run>
      </runtime>
      <builder
            id="antlr4ide-eclipse.antlrBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Antlr Project Nature commands"
            id="antlr4ide-eclipse.antlrNature.category">
      </category>
      <command
            name="Add/Remove Antlre Project Nature"
            defaultHandler="org.github.antlr4ide.builder.AddRemoveAntlrNatureHandler"
            categoryId="antlr4ide-eclipse.antlrNature.category"
            id="antlr4ide-eclipse.addRemoveAntlrNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="antlr4ide-eclipse.addRemoveAntlrNature"
               label="Disable Antlr Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="antlr4ide-eclipse.antlrNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="antlr4ide-eclipse.addRemoveAntlrNature"
               label="Enable Antlr Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="antlr4ide-eclipse.antlrNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>  
   <extension
         id="antlrProblem"
         name="Antlr Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
   <consoleFactory
         class="org.github.antlr4ide.console.AntlrConsoleFactory"
         icon="icons/console.png"
         label="Antlr Tool">
   </consoleFactory>         
   </extension>   
</plugin>
