<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Antlr v4 Editor"
            extensions="g4"
            icon="icons/g.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.github.antlr4ide.editor.ANTLRv4Editor"
            id="org.github.antlr4ide.editor.ANTLRv4Editor">
      </editor>
   </extension>
  <extension point="org.eclipse.ui.preferencePages">
          <!-- experimenting with new native eclipse pref pages -->
        <page
            class="org.github.antlr4ide.editor.preferences.AntlrToolPreferencePage"
            id="org.github.antlr4ide.Antlr4.newprefs"
            name="ANTLR 4 IDE TOOL">
            <keywordReference id="org.github.antlr4ide.editor.keyword_Antlr4"/>
        </page>    
        <page
            class="org.github.antlr4ide.editor.preferences.AntlrPreferencePageFolding"
            id="org.github.antlr4ide.Antlr4.newprefs.folding"
            name="Folding"
            category="org.github.antlr4ide.Antlr4.newprefs">
            <keywordReference id="org.github.antlr4ide.editor.keyword_Antlr4"/>
        </page>    
  </extension>
</plugin>
